* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overscroll-behavior: none;
  overflow-x: clip;
  background: #050510;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}

#songs {
  height: 600vh;
  position: relative;
}
#songs span {
  position: absolute;
  transform-origin: left;
  padding-left: 40vw;
  white-space: nowrap;
  user-select: none;
  transition: transform 200ms ease-out, opacity 300ms ease-in-out;
  font-size: 4.5vw;
  display: flex;
  transition: all 0.25s ease;
}
.follow-screen {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  margin-left: -30vw;
}

#songs span.active {
  --flag-scale: 0.7;
  border-radius: 400px;
  /* padding: 20px; */
  width: 75vw;
  transition: all 0.25s ease;
  background-color: #101033;
  z-index: 999;
}

#songs span:not(.active):not(.skip) {
  opacity: 0.5;
}

#songs span.skip {
  pointer-events: none;
  opacity: 0.2;
}

#songs span::before {
  content: var(--flag);
  font-family: "Noto Color Emoji";
  position: absolute;
  left: 35vw;
  scale: var(--flag-scale, 0);
  transition: scale 200ms ease-in-out;
}

#songs span:not(.skip):not(.active):hover {
  opacity: 0.7;
  cursor: pointer;
}


section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #050510, #101033);
}


section h1 {
  font-weight: bold;
  font-size: 3rem;
}

section img {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 999px;
}
